body{
	margin: 0;
	font-family: Helvetica, Arial, sans-serif;
	line-height: 25px;
	background-color: skyblue;
}

header{
	background-color: palevioletred;
	text-align: center;
	padding-top: 50px;
	padding-bottom: 50px;
}

h1, h2{
	font-family: 'Roboto Condensed', sans-serif;
}

/* header styles */
/* Write your comment here */

header h1{
	color: black;
	font-size: 50px;
}

header img{
	border-radius: 300px;
	width: 300px;
	border: 10px solid skyblue ;
}

main{
	max-width: 800px;
	margin: 0 auto;
	padding: 20px;
}

main img{
    max-width: 100%; 
}

h2{
	font-size: 25px;
	color: #000080;
	margin: 40px 0 10px;
}

p{
	font-size: 15px;
}

a{
	color: #8B4513;
}
a:hover{
	color: white;
	background-color: #8B4513;
}

footer{
	background-color: palevioletred;
	text-align: center;
	color: black;
	padding: 50px;
}

footer{
	margin: 0;
}

p.caption{
	color: dimgrey;
	font-style: italic;
	margin-top: 0;
}